<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.gdut.mapper.ClassificationMapper">
    <!--添加书籍分类条目-->
    <insert id="addCategoryItem" parameterType="net.gdut.bean.classification.CategoryItem">
        insert into tb_category (categoryName) values (#{categoryName})
    </insert>
    <!--添加出版商条目-->
    <insert id="addPublisherItem" parameterType="net.gdut.bean.classification.PublisherItem">
        insert into tb_publisher (publisherName)  values (#{publisherName})
    </insert>
    <!--添加年龄条目-->
    <insert id="addAgeItem" parameterType="net.gdut.bean.classification.AgeItem">
        insert into tb_age (ageName) values (#{ageName})
    </insert>

    <!--删除书籍分类条目-->
    <delete id="deleteCategoryItem" parameterType="int">
    delete from tb_category where no = #{no}
    </delete>
    <!--删除出版商条目-->
    <delete id="deletePublisherItem" parameterType="int">
    delete from tb_publisher where no = #{no}
    </delete>
    <!--删除年林条目-->
    <delete id="deleteAgeItem" parameterType="int">
    delete from tb_age where no = #{no}
    </delete>

    <!--查询分类条目列表-->
    <select id="getAllCategoryItem" resultType="net.gdut.bean.classification.CategoryItem">
    select * from tb_category
    </select>
    <!--查询出版商条目列表-->
    <select id="getAllPublisherItem" resultType="net.gdut.bean.classification.PublisherItem">
    select * from tb_publisher
    </select>
    <!--查询年龄条目列表-->
    <select id="getAllAgeItem" resultType="net.gdut.bean.classification.AgeItem">
    select * from tb_age
    </select>

    <select id="getCategoryItem" parameterType="int" resultType="net.gdut.bean.classification.CategoryItem">
    select * from tb_category where no = #{no}
    </select>
    <!--查询出版商条目列表-->
    <select id="getPublisherItem" parameterType="int" resultType="net.gdut.bean.classification.PublisherItem">
    select * from tb_publisher where no = #{no}
    </select>
    <!--查询年龄条目列表-->
    <select id="getAgeItem" parameterType="int"  resultType="net.gdut.bean.classification.AgeItem">
    select * from tb_age where no = #{no}
    </select>

</mapper>