<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.gdut.mapper.OrderMapper">
    <!--添加订单-->
    <insert id="addOrder" parameterType="net.gdut.bean.Order">
        insert into tb_order (uno,time,state,address) values (#{uno},#{time},#{state},#{adress})
    </insert>
    <!--添加订单项目-->
    <insert id="addOrderItem" parameterType="net.gdut.bean.OrderItem">
        insert into tb_order (ono,bno,quantity) values (#{ono},#{bno},#{quantity})
    </insert>
    <!--查询订单-->
    <select id="getAllOrder" parameterType="int" resultType="net.gdut.bean.Order">
        select * from tb_order where ono = #{ono}
    </select>
    <!--查询订单列表-->
    <select id="getAllOrder" parameterType="int" resultType="net.gdut.bean.Order">
        select * from tb_order where uno = #{uno}
    </select>
</mapper>