<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.gdut.mapper.OrderMapper">
    <!--添加订单-->
    <select id="addOrder" parameterType="net.gdut.bean.Order" resultType="int">
        insert into tb_order (uno,time,state,address,cost) values (#{uno},#{time},#{state},#{address},#{cost});
        select @@identity
    </select>
    <!--添加订单项目-->
    <insert id="addOrderItem" parameterType="net.gdut.bean.OrderItem">
        insert into tb_orderitem (ono,bno,quantity) values (#{ono},#{bno},#{quantity})
    </insert>
    <!--查询订单-->
    <select id="getOrder" parameterType="int" resultType="net.gdut.bean.Order">
        select * from tb_order where ono = #{ono}
    </select>
    <!--查询订单列表-->
    <select id="getAllOrder" parameterType="int" resultType="net.gdut.bean.Order">
        select * from tb_order where uno = #{uno}
    </select>
    <!--查询订单项目列表-->
    <select id="getOrderItemByOrder" parameterType="int" resultType="net.gdut.bean.OrderItem">
        select * from tb_orderitem where ono = #{ono}
    </select>
    <!--查询书籍列表（根据订单）-->
    <select id="getOrderItemWithBookByOrder" parameterType="int" resultType="net.gdut.bean.OrderItemWithBook">
        SELECT bname,author,categoryName,publisherName,ageName,cover,price,quantity,description,category,publisher,age
        FROM tb_book,tb_orderitem,tb_category,tb_publisher,tb_age
        WHERE tb_orderitem.ono = #{ono}
        and tb_book.bno = tb_orderitem.bno
        and tb_book.category = tb_category.no
        and tb_book.publisher = tb_publisher.no
        and tb_book.age = tb_age.no
  </select>
</mapper>