<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.gdut.mapper.BookMapper">

    <insert id="addBook" parameterType="net.gdut.bean.Book">
    insert into tb_book (bname,author,cover,price,description) values (#{bname},#{author},#{cover},#{price},#{description})
    </insert>

    <insert id="deleteBook" parameterType="int">
    delete from tb_book where bno = #{bno}
    </insert>

    <select id="getBook" parameterType="int" resultType="net.gdut.bean.Book">
        select * from tb_book where bno = #{bno};
    </select>

    <select id="getAllBook" resultType="net.gdut.bean.Book">
        select * from tb_book
    </select>

    <select id="getAllBookByName" parameterType="String" resultType="net.gdut.bean.Book">
        select distinct * from tb_book where bname like "%"#{bname}"%"
    </select>
</mapper>